In [9]:
from docx import Document

doc = Document("模板.docx") 
p1_list = doc.paragraphs
print(p1_list)

[<docx.text.paragraph.Paragraph object at 0x7fb8efcce760>, <docx.text.paragraph.Paragraph object at 0x7fb8f02b2d30>, <docx.text.paragraph.Paragraph object at 0x7fb8f02b2340>, <docx.text.paragraph.Paragraph object at 0x7fb8f02b2ca0>, <docx.text.paragraph.Paragraph object at 0x7fb8f02b23a0>, <docx.text.paragraph.Paragraph object at 0x7fb8f02b2d60>, <docx.text.paragraph.Paragraph object at 0x7fb8f02b2df0>, <docx.text.paragraph.Paragraph object at 0x7fb8f02b2460>, <docx.text.paragraph.Paragraph object at 0x7fb8f02b2670>, <docx.text.paragraph.Paragraph object at 0x7fb8f02b2a90>]

In [16]:
import pandas as pd
df = pd.read_excel("日报数据.xlsx")
df

            日期  销售数量  销售金额  销售目标
0   2021-01-01   200  5360  4500
1   2021-01-02   150  4020  4500
2   2021-01-03   125  3350  4500
3   2021-01-04   193  5170  4500
4   2021-01-05   204  5460  4500
..         ...   ...   ...   ...
146 2021-05-27   262  7020  6500
147 2021-05-28   284  7610  6500
148 2021-05-29   247  6610  6500
149 2021-05-30   246  6590  6500
150 2021-05-31   277  7420  6500

[151 rows x 4 columns]

In [17]:
df["日期"] = df["日期"].apply(lambda x:x.strftime("%Y-%m-%d"))
df["当日完成度"] = (df["销售金额"]/df["销售目标"]*100).round(1)
df["累计销售金额"] = df["销售金额"].cumsum()
df["当年完成度"] = (df["累计销售金额"]/2200000*100).round(1)
df["累计销售金额"] = (df["累计销售金额"]/10000).round(2)
df

             日期  销售数量  销售金额  销售目标  当日完成度  累计销售金额  当年完成度
0    2021-01-01   200  5360  4500  119.1    0.54    0.2
1    2021-01-02   150  4020  4500   89.3    0.94    0.4
2    2021-01-03   125  3350  4500   74.4    1.27    0.6
3    2021-01-04   193  5170  4500  114.9    1.79    0.8
4    2021-01-05   204  5460  4500  121.3    2.34    1.1
..          ...   ...   ...   ...    ...     ...    ...
146  2021-05-27   262  7020  6500  108.0   86.72   39.4
147  2021-05-28   284  7610  6500  117.1   87.48   39.8
148  2021-05-29   247  6610  6500  101.7   88.14   40.1
149  2021-05-30   246  6590  6500  101.4   88.80   40.4
150  2021-05-31   277  7420  6500  114.2   89.54   40.7

[151 rows x 7 columns]

In [18]:
# 测试一下Pandas的数据选取
num = 10
df.iloc[num-7:num, :5]

           日期  销售数量  销售金额  销售目标  当日完成度
3  2021-01-04   193  5170  4500  114.9
4  2021-01-05   204  5460  4500  121.3
5  2021-01-06   214  5730  4500  127.3
6  2021-01-07   226  6050  4500  134.4
7  2021-01-08   198  5300  4500  117.8
8  2021-01-09   187  5010  4500  111.3
9  2021-01-10   210  5620  4500  124.9

In [5]:
for index, rows in df.iterrows():
    if index > 30:
        doc.paragraphs[0].runs[1].text = rows[0]
        doc.paragraphs[4].runs[4].text = rows[0]
        doc.paragraphs[4].runs[6].text = str(rows[1])
        doc.paragraphs[4].runs[8].text = str(rows[2])
        doc.paragraphs[5].runs[1].text = str(rows[3])
        doc.paragraphs[5].runs[3].text = str(rows[4])
        doc.paragraphs[9].runs[2].text = str(rows[5])
        doc.paragraphs[9].runs[7].text = str(rows[6])

        table = doc.tables[0]
        data_table = df.iloc[index-6:index+1,:5]    
        for i in range(7):
            for j in range(5):
                table.cell(i+1,j).text = str(df.iloc[i,j])
        
        doc.save(f"销售日报-{rows[0]}.docx")

小问题：doc.paragraphs[?].runs[?]是怎么确定的？

In [23]:
for i in range(len(p1_list)):
    for j in range(len(doc.paragraphs[i].runs)):
        print(f"段落{i}文字块{j}的内容：{doc.paragraphs[i].runs[j].text}")

段落0文字块0的内容：
段落0文字块1的内容：****
段落1文字块0的内容：销售日报
段落2文字块0的内容：汇报人：
段落2文字块1的内容：朱小五
段落2文字块2的内容：	部门：
段落2文字块3的内容：销售
段落2文字块4的内容：一
段落2文字块5的内容：部
段落3文字块0的内容：
段落4文字块0的内容：【销售一部】
段落4文字块1的内容：
段落4文字块2的内容：朱小五
段落4文字块3的内容：于
段落4文字块4的内容：****
段落4文字块5的内容：日共销售
段落4文字块6的内容：****
段落4文字块7的内容：个产品，总销售额为
段落4文字块8的内容：****
段落4文字块9的内容：元。
段落5文字块0的内容：本月每日销售目标为
段落5文字块1的内容：****
段落5文字块2的内容：元，今日完成度为
段落5文字块3的内容：****
段落6文字块0的内容：近七日销售数据如下表所示：
段落9文字块0的内容：截止今日，
段落9文字块1的内容：今年销售总额为
段落9文字块2的内容：****
段落9文字块3的内容：万元。相较于
段落9文字块4的内容：当年销售目标220万
段落9文字块5的内容：，
段落9文字块6的内容：已完成
段落9文字块7的内容：****
段落9文字块8的内容：%。

---

其实这种方法并不是最简便的，大家还可以对此进行改进。比如`python-docx`模块在读取Word文档有优势，但是向模板中写入文本时，可以考虑使用`docxtpl`模块（学一点Jinja2语法）。`docxtpl`版本的方案我们下次再写。

最后，如果你也对Python自动化办公感兴趣，欢迎看看我的新书《快学Python：自动化办公轻松实战》，花费两年时间写作。

- 100+Python知识点图解

- 30+Python自动化办公案例

- 10+Python经典办公项目实战


全书一共介绍了30多个场景下的Python应用，涉及到涉及行政、人力资源、营销、法务、财务、运营、教师、数据分析等多个行业岗位（部分截图如下），相信每位读者朋友都能在本书中找到与自身需求相对应的案例。

![](https://typora-1300769465.cos.ap-beijing.myqcloud.com/typora_zhuxiao5/自动命名20220707211508.jpeg)

![](https://typora-1300769465.cos.ap-beijing.myqcloud.com/typora_zhuxiao5/自动命名20220707211520.jpeg)