# excel 格式化

参考：https://cloud.tencent.com/developer/article/1853145

In [113]:
import pandas as pd
import numpy as np

data = {
  '基金名称': ['白酒基金','消费基金', '食品基金', '军工基金', '食品饮料'],
  '基金规模': ['2.3','982.232','232.232', '343.2', '232.22323'],
  '2018': ['-23.23', '-33.23', '0.45', '45.32', '34.34'],
  '2019': ['-23.23', '23.23', '0.74', '64.32', '68.34'],
  '2020': ['43.23', '62.23', '5.34', '-45.32', '34.34'],
  '上任日期': ['2017-08-22 00:00:00','2017-08-22 00:00:00','2017-08-22 00:00:00','2012-05-22 00:00:00','2019-09-22 00:00:00']
}

df = pd.DataFrame(data)
df

   基金名称       基金规模    2018    2019    2020                 上任日期
0  白酒基金        2.3  -23.23  -23.23   43.23  2017-08-22 00:00:00
1  消费基金    982.232  -33.23   23.23   62.23  2017-08-22 00:00:00
2  食品基金    232.232    0.45    0.74    5.34  2017-08-22 00:00:00
3  军工基金      343.2   45.32   64.32  -45.32  2012-05-22 00:00:00
4  食品饮料  232.22323   34.34   68.34   34.34  2019-09-22 00:00:00

## 排序

- ascending: False, 降序
- ascending: True, 升序

In [6]:
# df_consume = df.reset_index(drop=True)
df_order = df.sort_values('基金规模', ascending=False).head(10)
df_order

   基金名称       基金规模    2018    2019    2020
1  消费基金    982.232  -33.23   23.23   62.23
3  军工基金      343.2   45.32   64.32  -45.32
2  食品基金    232.232    0.45    0.74    5.34
4  食品饮料  232.22323   34.34   68.34   34.34
0  白酒基金        2.3  -23.23  -23.23   43.23

## 隐藏列

In [13]:
df2 = df.style.hide_index().hide_columns(['2020'])
df2

## 查看格式

In [75]:
df.dtypes

基金名称    object
基金规模    object
2018    object
2019    object
2020    object
上任日期    object
dtype: object

## 指定列格式化

In [93]:
# df

df[['2018','2019', '2020']] = df[['2018', '2019', '2020']].applymap(float)
df[['2018', '2019', '2020']].dtypes

2018    float64
2019    float64
2020    float64
dtype: object

## 设置颜色

axis,0列(凌冽)
axis,1行

高亮指定列的最小值、最大值

In [54]:

df.style.hide_index()\
  .hide_columns(['上任日期'])\
  .highlight_max(axis=0,subset=['2018','2019','2020'])\
  .highlight_min(axis=0,subset=['2018','2019','2020'])

### 指定高亮区间值

In [97]:

df.style.hide_index()\
  .highlight_between(left=-0.2,right=30,subset=['2018','2019','2020'])

### 指定范围高亮

- 2018年的年度涨跌幅度 -24~+0 范围;
- 2019年的年度涨跌幅度 0~24 范围;
- 2020年的年度涨跌幅度 0~30 范围;

In [102]:
df.style.hide_index()\
  .highlight_between(left=[-24,0,0],right=[0,24,30],subset=['2018','2019','2020'],axis=1)

### 设置自定义颜色

In [104]:
df.style.hide_index()\
  .hide_columns(['上任日期'])\
  .highlight_max(axis=0,subset=['2018','2019','2020'], props='color:black;background-color:#99ff66')\
  .highlight_min(axis=0,subset=['2018','2019','2020'], props='color:black;font-weight:bold;background-color:#ee7621')

### 添加色阶

In [106]:
df.style.hide_index()\
  .hide_columns(['上任日期'])\
  .background_gradient(cmap='Blues', subset=['基金规模'])

可以通过对 low 和 high 值的设置，可以来调节背景颜色的范围，low 和 high 分别是压缩 低端和高端的颜色范围，其数值范围一般是 0~1

In [107]:
df.style.hide_index()\
  .hide_columns(['上任日期'])\
  .background_gradient(cmap='Blues', subset=['基金规模'], low=0.3,high=0.9)

规模在20以下的，颜色最浅，规模70以上的，颜色最深，20~70亿之间的，颜色渐变

In [110]:
df.style.hide_index()\
  .hide_columns(['上任日期'])\
  .background_gradient(subset=['基金规模'], cmap='Blues',vmin=20,vmax=900)

### 数据条显示

In [112]:
df.style.hide_index()\
  .hide_columns(['上任日期'])\
  .bar(subset=['2018','2020'],color=['#99ff66','#ee7621'])

### 自定义设置颜色

In [115]:

def max_value(x, color='red'):
    return np.where(x == np.nanmax(x.to_numpy()),
                    f"color: {color};background-color:yellow", None)
df.style.hide_index()\
  .hide_columns(['上任日期'])\
  .apply(max_value,axis=0,subset=['2018','2019','2020'])

### 行列同时自定义

In [119]:
def color_returns(val):
    if float(val) > 0:
        color = '#EE7621'  # light red
    elif float(val) < 0:
        color = '#99ff66'  # light green  '#99ff66'
    else:
        color = '#FFFAFA'  # ligth gray
    return f'background-color: {color}'

df.style.hide_index()\
  .hide_columns(['上任日期'])\
  .applymap(color_returns,subset=pd.IndexSlice[1:5,['2018','2019','2020']])

### 按范围锁定进行样式格式化

In [139]:
df.style.hide_index()\
  .hide_columns(['上任日期'])\
  .applymap(color_returns, subset=pd.IndexSlice[3:2])

### 共享样式

保存样式

In [140]:
style1 = df.style.hide_index()\
                .highlight_min(axis=1,subset=['2018','2019','2020'],props='color:black;background-color:#99ff66')\
                .highlight_max(axis=1,subset=['2018','2019','2020'],props='color:black;background-color:#ee7621')\
                .highlight_null(props='color:white;background-color:darkblue')
style1

使用样式

In [141]:
df_fund_1 = df[['2018','2019','2020']]

df_fund_1.style.use(style1.export())

## 导出excel

In [ ]:
def max_value(x, color='red'):
    return np.where(x == np.nanmax(x.to_numpy()),
                    f"color: {color};background-color:yellow", None)
df.style.hide_index()\
  .hide_columns(['上任日期'])\
  .apply(max_value,axis=0,subset=['2018','2019','2020'])\
  .to_excel('style_export.xlsx',engine = 'openpyxl')