# dataframe的几种创建方式

In [1]:
import pandas as pd

## 字典创建

In [2]:

dic1 = {"name": ["小明", "小红", "小孙"],
        "age": [20, 18, 27],
        "sex": ["男", "女", "男"]
        }
pd.DataFrame(dic1)

  name  age sex
0   小明   20   男
1   小红   18   女
2   小孙   27   男

> 与下面的Series类似

## 嵌套字典创建

In [3]:
dic2 = {'数量': {'苹果': 3, '梨': 2, '草莓': 5},
        '价格': {'苹果': 10, '梨': 9, '草莓': 8},
        '产地': {'苹果': '陕西', '梨': '山东', '草莓': '广东'}
        }
pd.DataFrame(dic2)

    数量  价格  产地
苹果   3  10  陕西
梨    2   9  山东
草莓   5   8  广东

## 列表创建

In [9]:
lst = ['小明','小红', '小黄']
df1 = pd.DataFrame(lst, columns=["姓名"])
print(df1)
# 修改索引
# df2 = pd.DataFrame(lst, columns=["姓名"], index=[1,2,3])
# print(df2)

   姓名
0  小明
1  小红
2  小黄

## 列表嵌套创建

In [10]:

lst = [["小明", "20", "男"],
       ["小红", "23", "女"],
       ["小周", "19", "男"],
       ["小孙", "28", "男"]
       ]
pd.DataFrame(lst, columns=["姓名", "年龄", "性别"])

   姓名  年龄 性别
0  小明  20  男
1  小红  23  女
2  小周  19  男
3  小孙  28  男

## 元组创建

In [11]:
tup = ("小明", "小红", "小周", "小孙")
df12 = pd.DataFrame(tup, columns=["姓名"])
print(df12)

   姓名
0  小明
1  小红
2  小周
3  小孙

In [13]:
tup2 = [("小孙", "男", "12", "1991-03-13"), ("小明", "男", "12", "1991-03-13"), ("小红", "男", "12", "1991-03-13")]
pd.DataFrame(tup2, columns=["姓名", "性别", "年龄", "出生日期"])

   姓名 性别  年龄        出生日期
0  小孙  男  12  1991-03-13
1  小明  男  12  1991-03-13
2  小红  男  12  1991-03-13

> 这种方式与从mysql中提取创建方式类似，
> 区别在于mysql 返回的是元组

## 使用 Series 创建

In [15]:
series = {'水果': pd.Series(['苹果', '梨', '草莓']),
'数量': pd.Series([60, 50, 100]),
'价格': pd.Series([7, 5, 18])}

pd.DataFrame(series)

   水果   数量  价格
0  苹果   60   7
1   梨   50   5
2  草莓  100  18

## 参考文献

`https://mp.weixin.qq.com/s?src=11&timestamp=1630639469&ver=3291&signature=2hP6UP*xyIiph4dVB7QKEtEbmKdsacG8sFuoIeSYBuRFZ*tDDJPxkb21KefUeBiw7chpJcCW-FnbOtMcfvdy*QpOpjHZzjK0yZFnTKiCPvpn4Cy3H2imaKiJna0nM2J3&new=1`